<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>691157401469-0mrjkhemur3o0sh0kbn42o5jjimbnq9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691157401469-0mrjkhemur3o0sh0kbn42o5jjimbnq9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDJu3Dm2qGExW6EZ4RmT0dqwoFnzZx_ovY</string>
	<key>GCM_SENDER_ID</key>
	<string>691157401469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DiegoPonce.RewardMe</string>
	<key>PROJECT_ID</key>
	<string>rewardme-1ac03</string>
	<key>STORAGE_BUCKET</key>
	<string>rewardme-1ac03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:691157401469:ios:d593f2201a89a7bb</string>
	<key>DATABASE_URL</key>
	<string>https://rewardme-1ac03.firebaseio.com</string>
</dict>
</plist>